:root {
  --font-color: #f3c04a;

  --main-background: #222831;
  --other-background: #111720;

  --btn-background: #41454d;
  --btn-background-hover: #4a4f57;
  --btn-background-active: #5b5f68;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: var(--font-color);
  min-height: 100vh;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: var(--other-background);
  width: 100vw;
}

.title {
  font-size: 25px;
}

.start-button {
  cursor: pointer;
  font-size: 40px;
  padding: 20px;
  color: var(--font-color);
  border: 1px solid ;
  border-radius: 5px;
  background-color: var(--btn-background);
}

footer {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100vw;
  background-color: var(--other-background);
}

.game-section {
  display: none;
}

.game-end-info {
  font-size: 13px;
  margin-top: 10px;
}

.round-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px 0;
}

.players-choices {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 25px 0px 10px 0;
}

.player-choice, .computer-choice {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-scores {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 20px;
}

.player-score-container, .computer-score-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  margin-bottom: 60px;
}

.btn {
  cursor: pointer;
  width: 160px;
  height: 160px;
  background-color: var(--btn-background);
  border: 1px solid var(--btn-background);
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--btn-background-hover);
}

.btn:active {
  background-color: var(--btn-background-active);
}

.symbol {
  font-size: 80px;
  margin-bottom: 20px;
}