:root {
  --font-color: #f3c04a;

  --main-background: #222831;
  --other-background: #111720;

  --btn-background: #41454d;
  --btn-background-hover: #4a4f57;
  --btn-background-active: #5b5f68;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: var(--font-color);
  min-height: 100vh;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: var(--other-background);
  width: 100vw;
}

.title {
  font-size: 25px;
}

.cmd-btn {
  cursor: pointer;
  padding: 20px;
  color: inherit;
  border: 1px solid var(--font-color);
  border-radius: 5px;
  background-color: var(--btn-background);
}

#start-btn {
  font-size: 40px;
}

footer {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100vw;
  background-color: var(--other-background);
}

.game-section {
  display: none;
}

.game-end-info {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.round-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px;
  font-size: 22px;
}

.players-choices {
  display: flex;
  justify-content: space-between;
  min-width: 380px;
  margin: 25px 10px 0;
}

.player-choice, .computer-choice, .cmp {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-scores {
  display: flex;
  justify-content: space-between;
  min-width: 330px;
  margin-bottom: 20px;
}

.score-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btns {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  margin-bottom: 40px;
}

.play-btn {
  cursor: pointer;
  width: 160px;
  height: 160px;
  background-color: var(--btn-background);
  border: 1px solid var(--btn-background);
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--btn-background-hover);
}

.btn:active {
  background-color: var(--btn-background-active);
}

.symbol {
  font-size: 80px;
  margin-bottom: 20px;
}

.game-over-modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;

  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-background);

  text-align: center;
  font-size: 30px;

  user-select: none;

  transform: translate(-50%, -50%) scale(0);
  transition: 150ms ease-in-out;
}

.game-over-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.game-over-msg {
  font-size: 30px;
  margin-bottom: 10px;
}

#play-again-btn {
  font-size: 23px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}

#reset-btn {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .title {
    font-size: 18px;
  }

  .round-result {
    font-size: 20px;
  }

  .play-btns {
    gap: 20px;
  }

  .play-btn {
    width: 100px;
    height: 100px;
  }

  .symbol {
    font-size: 50px;
  }

  .game-over-modal {
    width: 95%;
  }
}